@model IEnumerable<Soft_Website.Models.Work>

@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_IntroHeaderLayout_1.cshtml";
    ViewBag.Message = "View Previous Experiences";
}

<br>
<br>
<br>

<div class="our_experience">
    <div class="container">
        <div id="filter-controls">
            <button data-tag="all" class="tracks">All</button>
            <button data-tag="Website" class="tracks">Website</button>
            <button data-tag="IOS" class="tracks">IOS</button>
            <button data-tag="Android" class="tracks">Android</button>
            <button data-tag="Desktop" class="tracks">Desktop</button>
        </div>
        <br>
        <div id="myList">
            @foreach (var item in Model)
            {
                #region Deleted Part
                @*<tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.features)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.technologies)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.projectUrl)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>*@
                #endregion

                <div class="experience_feat" data-category="@Html.DisplayFor(modelItem => item.category.CategoryName)">
                    <img src="~/Uploads/@Html.DisplayFor(modelItem => item.image)">
                    <div class="ex_feat_cover">
                        <div class="type_project">@Html.DisplayFor(modelItem => item.category.CategoryName)</div>
                        <h3>@Html.DisplayFor(modelItem => item.title)</h3>
                        <p> @Html.DisplayFor(modelItem => item.details) </p>
                        <br>

                        <button onclick="window.location.href = '@Url.Action("Details", "Home", new { id = item.Id })';">View</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br>
<br>
<br>


@{
    #region Deleted Part
    @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.details)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.features)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.technologies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.projectUrl)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.features)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.technologies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.projectUrl)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>*@
    #endregion
}