@model Soft_Website.Models.Team

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.DashboardMsg = "Team";
}

<style>
    form .form-horizontal .form-group input {
        font-size: .8rem;
        border-radius: 10rem;
        padding: 1.5rem 1rem;
    }
</style>


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 col-lg-12">
    <h1 class="h3 mb-0 text-gray-800">Create New</h1>
    <div>
        <a href="@Url.Action("Create","Teams")" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Create New</span>
        </a>
        <a href="@Url.Action("Index","Teams")" class="btn btn-secondary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Back To List</span>
        </a>
    </div>
</div>


<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Enter Details</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label id="custom-file-upload">
                        Upload   <i class="fa fa-upload"></i>
                        <input type="file" name="image" id="image" />
                    </label>
                    @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Image" } })*@
                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Job_title, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Job Title" } })
                    @Html.ValidationMessageFor(model => model.Job_title, "", new { @class = "text-danger" })
                </div>

                <div style="display: block; align-items: center; width: 200px; margin: auto;">
                    <input type="submit" value="Create" class="btn btn-success btn-user btn-block" />
                </div>
            </div>
        }
    </div>
</div>
